- paths = { :show_path => daily_est_imp_path(model), :edit_path => edit_daily_est_imp_path(model), delete_path: daily_est_imp_path(model) }

= render :partial => 'shared/actions', :locals => { :paths => paths }
