!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Welcome to Yoose, #{@agency.name}
    %p
      You have successfully signed up to Yoose,
      your password is: #{@pwd}.
      %br/
    %p
      To login to the site, just follow this link: #{link_to 'Yoose', root_url}.
    %p Thanks for joining and have a great day!