!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %p
      Please click #{link_to 'here', index_campaign_group_stats_url(@campaign)} to see the detail information