- breadcrumb :users
- content_for :header do
  = @title


= datagrid_form_for @grid, :as => :users_grid, :url => users_path

= datagrid_table @grid, :new_path => new_user_path, :html => {:class => 'table table-bordered table-hover'}
