- if model.errors.any?
  .alert.alert-danger.alert-dismissable
    %i.fa.fa-ban
    %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} ×
    %ul
      - model.errors.full_messages.each do |msg|
        %li= msg
