= link_to content_tag(:span, '', :class => 'glyphicon glyphicon-pencil'),
          edit_campaign_ads_group_path(model.campaign, model),
          method: :get,
          :class => 'btn btn-warning btn-xs',
          :title => t('datagrid.table.actions.edit')
= link_to content_tag(:span, '', :class => 'glyphicon glyphicon-remove'),
          campaign_ads_group_path(model.campaign, model),
          method: :delete,
          data: {confirm: I18n.t('messages.destroy.confirmation', :model_name => I18n.t('models.campaign_ads_group.name'), :name => model.name)},
          :class => 'btn btn-danger btn-xs',
          :title => t('datagrid.table.actions.delete')
