video_ads_aws_access_key_id: 'AKIAJECEZ4IZTB4KBQAQ'
video_ads_aws_secret_access_key: '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'
s3_endpoint: 's3-ap-southeast-1.amazonaws.com'
aws_region: 'ap-southeast-1'
aws_host: 's3.amazonaws.com'
video_ads_bucket: 'im-video-ads'

development:
  agency_role_id: "3"
  FINANCE_USER_EMAIL: 'it@yoose.com'
production:
  agency_role_id: "3"
  FINANCE_USER_EMAIL: 'it@yoose.com'