video_ads_aws_access_key_id: ''
video_ads_aws_secret_access_key: ''
s3_endpoint: ''
aws_region: ''
aws_host: ''
video_ads_bucket: ''

development:
  agency_role_id: "3"
  FINANCE_USER_EMAIL: ''
production:
  agency_role_id: "3"
  FINANCE_USER_EMAIL: ''
