= link_to content_tag(:span, '', :class => 'glyphicon glyphicon-pencil'),
          edit_campaign_device_tracking_path(model.campaign, model),
          method: :get,
          :class => 'btn btn-warning btn-xs',
          :title => t('datagrid.table.actions.edit')
= link_to content_tag(:span, '', :class => 'glyphicon glyphicon-remove'),
          campaign_device_tracking_path(model.campaign, model, date: @date.strftime(Date::DATE_FORMATS[:iso])),
          method: :delete,
          data: {confirm: I18n.t('messages.destroy.confirmation', :model_name => I18n.t('models.device_tracking.name'), :name => "thhoang FIXME")},
          :class => 'btn btn-danger btn-xs',
          :title => t('datagrid.table.actions.delete')
