// Place all the styles related to the VAST controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.error{
  color: red;
}

.error input{
  border-color: red;
}

#vast-content .form-control{
  background-color: #ffffff;
}

.iradio_flat-red, .icheckbox_flat-red{
  margin-right: 10px;
}

.radio_buttons .radio{
  margin-right: 20px;
}

.btn-file-input.btn-primary {
  color: white;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.vast_file .file-input-wrapper.btn-file-input:hover{
  background-color: #b71c1c !important;
}